---
---
$header-bg-color-secondary: #bf1194;
$header-bg-color: #f5ae51;
$header-heading-color: #e8ce99;

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade:400,700');
@import url('https://fonts.googleapis.com/css?family=Scope+One:400,700');

body {
  font-family: 'Bungee Shade', cursive;
}

.main-content {
 h1{
  color: #000000;
  font: 'Scope One', serif;
 }
}
